<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ./partials/header %>
        <title>Perpetue - Leave your message to the world.</title>
        <link rel="stylesheet" href="/css/posts.css">
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script src="/js/reporter.js"></script>
        <script src="/js/Feedback.js"></script> 
        <script src="/js/posts.js"></script>
        <script src="/js/returner.js"></script>
        <script src="/js/limiter.js"></script>
        <script src="/js/toggle.js"></script>
    </head>

    <body>
        <% dateOptions = {year: 'numeric', month: 'numeric', day:'numeric'}; %>

        <div class="container">
            <div class="wrapper">
                <img id="logo" src="/img/logo.png" alt="">
                <form id="sender" class="ui form" action="/posts" method="POST"> 
                    <div style="position: relative;">
                        <textarea id="message" name="message" style="height: 50%; resize: none;" maxlength="100" placeholder="Your message"></textarea>
                        <div id="charCounter">100</div>
                    </div>
                    <button
                        id="btn_send"
                        class="g-recaptcha ui grey button">
                        Send
                    </button>
                </form>
                <div id="response"></div>
            </div>
            <i id="refresh-button" class="fa fa-refresh" aria-hidden="true"></i>
        </div>
        <hr>
        <form id="reporter" style="display:none;" action="" method="POST">
            <button type="submit" id="captcha_report" style="display:none;"></button>
        </form>
        <div class="container">
        <script type="text/javascript">
                ( function() {
                    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
                    var unit = {"calltype":"async[2]","publisher":"lucasbarross","width":728,"height":90,"sid":"Chitika Default"};
                    var placement_id = window.CHITIKA.units.length;
                    window.CHITIKA.units.push(unit);
                    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                }());
            </script>
        <script type="text/javascript">
        ( function() {
            if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
            var unit = {"calltype":"async[2]","publisher":"lucasbarross","width":320,"height":50,"sid":"Chitika Default"};
            var placement_id = window.CHITIKA.units.length;
            window.CHITIKA.units.push(unit);
            document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
        }());
        </script>
        <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
        </div>
        <div class="container posts">
            <% posts.forEach(function(post){ %>
            <a href="/posts/<%=post['hashid']%>/comments" data-id="<%= post['hashid'] %>" class="post">
                    <div class="avatar">
                        <img src="<%= post['avatar'] %>">
                    </div>
                    <div class="info">
                        <p><strong><%= post["author"] %></strong> says:</p>
                        <% if(post["reports"] < config.maxReports) { %>
                            <p><%= post["body"] %> </p>
                        <% } else { %>
                            <button data-target="#<%=post['hashid']%>msg" type="button" class="ui button basic toggle ">Show hidden message</button>
                            <p style="display:none;" id="<%=post['hashid']%>msg"><%= post["body"] %> </p>
                        <% } %>
                        <div class="date"> <%= post["date"].getDate() + "-" + (post["date"].getMonth() + 1) + "-" + post["date"].getFullYear(); %></div>
                        <div class="comment-counter"> <%= post["comments"].length %> comment(s)</div>
                        <% if(!post['reported']) { %>
                            <button data-action="/posts/<%= post['hashid'] %>/report" data-id="<%= post['hashid'] %>" id="report_btn" class="report report_btn">
                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                            </button>
                        <% } %>
                    </div>
            </a>
            <% }) %>
        </div>
        <div class="container">
            <div class="ui active inline loader"></div>
        </div>
        <i id="returner" class="fa fa-arrow-up" aria-hidden="true"></i>

        <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
<% include ./partials/footer %>